body {
font-family: Arial, sans-serif;
background-color: #f4f4f4;
margin: 0;
padding: 0;
}
nav.navbar {
background-color: black;
color: #fff;
padding: 35px;
text-align: right;
position: relative;
top:0px;
height: 20px;
}
button {
background-color:black;
color: white;
border: none;
padding: 10px 30px;
margin-left: 45px;
cursor: pointer;
font-size: large;

}
button:hover {
    color: #8781a2;
    transition: color 0.2s ease-in-out;
}
.Welkom {
font-size: 32px;
margin: -20px;
left:-1250px;
position:relative;
top:0px;

}
.Overzicht {
font-size: 24px;
left:20px;
position:relative;
top:20px;
width:90%;
}
.search-bar {
  left: 20px;
  position: relative;
  top: 10px;
  width: 95%;
  height: 30px;
}
.search-bar input {
width: 90%; 
padding: 10px; 
box-sizing: border-box; 
}
.search-bar button { 
    position:absolute;
    right: 46px;
    height:39px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 98%;
  position: relative;
  top:60px;
  left:18px;
  padding:4px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 4px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
 .Bewerk{
 padding:8px;
}
.Verwijder{
    padding:8px;
}
.Vorige {
position:relative;
top: 140px;
left:65px;
}
.Volgende {
position: relative;
top:140px;
left: 700px;
}
.form-box {
    background-color: white;
    padding: 5px;
    margin: 20px;
    border-radius: 8px;
    width: 90%;
    position: relative;
    top: 10px;
}
